services:
  pg:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: governor_test
    ports:
      - "5432:5432"
    networks:
      - governor
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5

  go:
    image: golang:1.25.7
    depends_on:
      pg:
        condition: service_healthy
    environment:
      GOVERNOR_DB_URI: postgresql://postgres:postgres@pg:5432/governor_test?sslmode=disable
    volumes:
      - type: bind
        source: ./
        target: /app
    working_dir: /app
    networks:
      - governor

networks:
  governor:
