version: '3.9'

volumes:
  crdb-data:
  hydra-sqlite:
  audit-log:
    driver_opts:
      type: tmpfs
      device: tmpfs

networks:
  governor:


services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile.dev
    depends_on:
      - nats
    command: sleep infinity
    env_file:
      - .env
    volumes:
      - ./nsc:/nsc
      - ..:/workspace:cached
    networks:
      - governor

  create-databases:
    image: cockroachdb/cockroach:v22.2.14
    restart: on-failure:5
    command: "sql --insecure -e 'CREATE DATABASE IF NOT EXISTS hydra_dev; CREATE DATABASE IF NOT EXISTS governor_dev;'"
    env_file:
      - .env
    depends_on:
      - crdb
    networks:
      - governor

  crdb:
    image: cockroachdb/cockroach:v22.2.14
    volumes:
      - crdb-data:/cockroach/cockroach-data
    command: start-single-node --insecure
    ports:
      - "8080:8080"
      - "26257:26257"
    restart: unless-stopped
    healthcheck:
      test: "curl --fail http://localhost:8080/health?ready=1 || exit 1"
      interval: "2s"
      retries: 3
      start_period: "15s"
      timeout: "5s"
    networks:
      - governor

  hydra:
    image: oryd/hydra:v1.11.10
    ports:
      - "4444:4444" # Public Port
      - "4445:4445" # Admin Port
      - "5555:5555" # Port for hydra token user
    command: serve -c /etc/config/hydra/hydra.yml all --dangerous-force-http
    depends_on:
      - hydra-migrate
    volumes:
      - type: volume
        source: hydra-sqlite
        target: /var/lib/sqlite
        read_only: false
      - ./hydra:/etc/config/hydra
    environment:
      - DSN=cockroach://root@crdb:26257/hydra_dev?sslmode=disable&max_conns=20&max_idle_conns=4
    restart: unless-stopped
    networks:
      - governor

  hydra-migrate:
    image: oryd/hydra:v1.11.10
    environment:
      - DSN=cockroach://root@crdb:26257/hydra_dev?sslmode=disable&max_conns=20&max_idle_conns=4
    command: migrate -c /etc/config/hydra/hydra.yml sql -e --yes
    depends_on:
      - create-databases
    volumes:
      - type: volume
        source: hydra-sqlite
        target: /var/lib/sqlite
        read_only: false
      - ./hydra:/etc/config/hydra
    restart: on-failure
    networks:
      - governor

  nats-init:
    image: natsio/nats-box
    environment:
      - NSC_HOME=/nsc
    volumes:
      - ./nsc:/nsc
      - ./nats:/nats
      - ./scripts:/scripts
    command:
      - /scripts/nats_init.sh

  nats:
    image: nats:alpine
    depends_on:
      - nats-init
    command:
      - -c
      - '/etc/nats/nats-server.conf'
      - -D
    volumes:
      - ./nats:/etc/nats
    ports:
      - "4222:4222"
    restart: unless-stopped
    networks:
      - governor
